.badge-page {


min-height:100vh;


background:#f7f5ef;


color:#24231f;


}



.badge-container{


width:min(
950px,
calc(100% - 40px)
);


margin:auto;


padding:
50px 0 90px;


}



.badge-back{


border:0;


background:none;


padding:0;


margin-bottom:35px;


font-weight:600;


cursor:pointer;


color:inherit;


}



.badge-info{


display:grid;


grid-template-columns:
repeat(
2,
1fr
);


gap:18px;


margin-top:35px;


}



.badge-info-card{


padding:22px;


background:white;


border-radius:20px;


border:
1px solid
rgba(
0,
0,
0,
.08
);


}



.badge-info-card h3{


margin:
0 0 10px;


font-size:14px;


opacity:.55;


}



.badge-info-card p{


margin:0;


font-size:18px;


}



.badge-section{


margin-top:40px;


padding:25px;


background:white;


border-radius:22px;


border:
1px solid
rgba(
0,
0,
0,
.08
);


}



.badge-section h2{


margin-top:0;


}



.badge-section p{


line-height:1.7;


opacity:.75;


}



.badge-state{


height:80vh;


display:flex;


justify-content:center;


align-items:center;


flex-direction:column;


gap:15px;


}





/* DARK MODE */


.badge-dark{


background:#181817;


color:#f2f0ea;


}



.badge-dark
.badge-info-card,


.badge-dark
.badge-section{


background:#242321;


border-color:
rgba(
255,
255,
255,
.08
);


}



.badge-dark
.badge-display{


background:#302d25;


}



.badge-dark
.badge-display-icon{


background:#242321;


}





@media(max-width:700px){


.badge-container{


width:
calc(100% - 26px);


}



.badge-info{


grid-template-columns:1fr;


}



}