.badge-display {


display:flex;


align-items:center;


gap:25px;


padding:30px;


border-radius:28px;


background:#f2ead5;


}



.badge-display-icon {


width:110px;


height:110px;


display:flex;


align-items:center;


justify-content:center;


border-radius:50%;


font-size:65px;


background:white;


}



.badge-display-content h1 {


margin:0 0 10px;


font-size:42px;


}



.badge-display-content p {


margin:0;


line-height:1.6;


opacity:.75;


}



@media(max-width:600px){


.badge-display{


flex-direction:column;


align-items:flex-start;


}



.badge-display-content h1{


font-size:32px;


}


}