.invite-button {


width:100%;

padding:15px;


background:#111;

color:white;


border:none;

border-radius:12px;


font-size:18px;


cursor:pointer;

transition:.2s;


}



.invite-button:hover{

opacity:.85;

}



/* DARK MODE */

.invite-button.dark {


background:white;

color:#111;


}