.friend-card{


display:flex;

justify-content:space-between;

align-items:center;


padding:20px;


background:white;


border-radius:15px;


box-shadow:
0 5px 15px rgba(0,0,0,.08);


margin-bottom:15px;


}



.friend-card button{


background:#111;

color:white;


border:none;


padding:10px 18px;


border-radius:10px;


cursor:pointer;


}



.dark .friend-card{


background:#1e1e1e;

color:white;


}



.dark .friend-card button{


background:white;

color:black;


}